.header-top {
    background-image: url('../images/header2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.header-bottom {
    position: sticky;
    top: 0;
    background-image: url('../images/header2.png'); /* Samma bild */
    background-repeat: no-repeat;
    background-position: center; /* Anpassa positionen */
    background-attachment: fixed;
    background-color: #ffffff;
    padding: 10px;
}
header, nav, main {
    padding: 15px;
}

#navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }
}

/* vid test */
/* *{
    border: 1px dashed red;
} */

video iframe {
    max-width: 100%;
    height: auto;
}

.mainimg {
    width: 40em;
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-style: ridge;
    border-radius: 20px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


.menubutton {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #595340;
    padding: 10px 20px;
    border-radius: 12px;
    border: #000000 3px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

.menubutton:hover {
    background-color: #7a7a5c;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #00ff40;
    ;
}

.contactiframe {
    width: 100vw;
    height: 80vh;
    border: none;
}
table{
border-color: green;

}