.header {
    background-image: url('../images/header2.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
    background-attachment: fixed;
    flex-wrap: wrap;

}
header, nav, main {
    padding: 40px;
}

/* #menubox{
    
    position: fixed;
    left: 500px;
} */

video iframe {
    max-width: 100%;
    height: auto;
}

.mainimg {
    width: 40em;
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-style: ridge;
    border-radius: 20px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


.menubutton {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #595340;
    padding: 10px 20px;
    border-radius: 12px;
    border: #000000 3px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

.menubutton:hover {
    background-color: #7a7a5c;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #00ff40;
    ;
}

.contactiframe {
    width: 100vw;
    height: 80vh;
    border: none;
}
table{
border-color: green;

}