.header {
    background-image: url('../images/header2.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
}

video iframe {
    max-width: 100%;
    height: auto;
}

.mainimg {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-style: ridge;
    border-radius: 20px;
}